@use './mixins' as *;

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');

// common style
html {
  font-size: 16px;
}

mark {
  background: linear-gradient(to top, rgb(176, 238, 50) 50%, transparent 50%);
  border-radius: 5px;
}

body {
  font-family: 'Pretendard Variable';
  margin: 0;
}
// page style
.page-wrapper {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px auto;
}

.home-wrapper {
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contents-wrapper {
  max-width: 800px;
  width: 100%;
}

// header style
.page-header-wrapper {
  display: flex;
  width: 100%;
  max-width: 800px;
  height: 0 auto;
  justify-content: center;
  margin-bottom: 50px;
}
.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  vertical-align: center;
  font-size: 1.125rem;
  padding: 20px 20px 30px 20px;
  font-weight: 600;
  max-width: 800px;
  width: 100%;
  border-bottom: 5px groove;
  .link {
    color: black;
    text-decoration: none;
    background-color: rgb(170, 255, 178);
    border-radius: 25px;
    padding: 3px 5px;
    transition: background 0.5s ease-in-out;
    &:hover {
      background-color: rgb(255, 237, 116);
    }
    margin-right: 5px;
  }
}

// footer style
.footer-wrapper {
  margin: 0px auto;
  padding: 10px;
  max-width: 100%;
}
.page-footer {
  font-size: 1.125rem;
  font-weight: 500;
  text-align: center;
  width: 100%;

  @include xs {
    font-size: 0.8125rem;
  }

  @include md {
    font-size: 0.9375rem;
  }
}

// bio style
.bio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  margin: 0px auto 30px;

  &-profile {
    border-radius: 50%;
    margin-right: 30px;
  }
  &-content {
    font-size: 1.5625rem;
  }

  @include xs {
    flex-direction: column;

    &-profile {
      width: 130px;
      height: 130px;
    }

    &-content {
      font-size: 1.2rem;
    }
  }

  @include md {
    &-profile {
      width: 150px;
      height: 150px;
    }
    &-content {
      font-size: 1.375rem;
    }
  }
}

// postcard style
.post-card {
  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-inline: 10px;
  }
  &-wrapper {
    width: 100%;
    min-height: 130px;
  }
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
  color: #000;

  &:hover {
    .post-card-title,
    .post-card-summary {
      text-decoration: underline;
    }
  }

  &-category {
    font-size: 0.9375rem;
    color: gray;
    margin-bottom: 5px;
    font-weight: bold;
  }
  &-title {
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  &-summary {
    font-size: 0.9375rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
    padding-bottom: 30px;
  }
  &-info {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    align-items: flex-end;
  }
  &-date {
    color: gray;
    font-size: 13px;
  }
  &-tags {
    display: flex;
    margin: 3px;
    font-weight: 600;
    text-align: center;
  }
  &-tag {
    font-size: 0.75rem;
    margin-right: 5px;
    background-color: lightgray;
    border-radius: 5px;
    padding: 0px 3px 1px;
  }
}

// about style
.about-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px auto;
  max-width: 800px;
}

.divider-title {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  margin: 8px 0px;
  font-weight: bold;

  &::before,
  &::after {
    content: '';
    flex-grow: 1;
    margin: 0px 5px;
    background: black;
    height: 2px;
    font-size: 0px;
    line-height: 0px;
  }
}

.about {
  &-section {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  &-content {
    display: flex;
    flex-direction: column;
    padding: 5px;
    word-break: keep-all;
    & p {
      margin: 0px 0px 3px 0px;
    }
  }
}

.about-member {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 18px;

  &-title {
    border-radius: 5px;
    font-size: 20px;
    padding: 2px;
    background-color: rgb(176, 238, 50);
  }
  &-info {
    display: flex;
    flex-direction: column;
  }
  &-raccoon,
  &-otter {
    display: flex;
    align-items: center;
    margin-left: 30px;
  }
  &-raccoon {
    margin-bottom: 10px;
  }
}

// about(project) style
.about-project-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.about-tech {
  font-size: 15px;
  margin-right: 10px;
  background-color: rgb(210, 255, 120);
  border-radius: 5px;
  padding: 2px;
  &-list {
    display: flex;
    margin-bottom: 10px;
  }
}

// post/[...slug] style
.post {
  &-wrapper {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  &-category {
    font-size: 1.5em;
    font-weight: 600;
    color: gray;
    margin-bottom: 15px;
  }
  &-title {
    font-size: 2em;
    font-weight: bold;
  }
  &-author {
    color: gray;
    text-align: right;
    & strong {
      color: black;
    }
    @include xs {
      font-size: 0.8125rem;
    }
    @include md {
      font-size: 0.9375rem;
    }
  }
  &-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0 0 0;
    @include xs {
      font-size: 0.8125rem;
    }
    @include md {
      font-size: 0.9375rem;
    }
  }
  &-date {
    color: gray;
    font-weight: 500;
    padding-bottom: 5px;
  }
  &-tags {
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  &-tag {
    background-color: lightgray;
    border-radius: 5px;
    padding: 3px 5px;
    margin-right: 5px;
  }
  &-header {
    margin-bottom: 50px;
    width: 100%;
  }
  &-content {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    word-break: break-word;
  }
}

// write style
.write {
  &-page-wrapper {
    height: 90vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% + 20px);
  }
  &-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  &-preview-wrapper,
  &-editor {
    flex: 1 1;
    height: 100%;
    overflow-y: auto;
  }
  @include lg {
    &-preview-wrapper {
      display: none;
    }
  }
  @include md {
    &-preview-wrapper {
      display: none;
    }
  }
  @include xs {
    &-preview-wrapper {
      display: none;
    }
  }

  &-preview {
    &-wrapper {
      background-color: #f6f6f6;
    }
    padding: 20px;
  }

  &-editor {
    display: flex;
    flex-direction: column;

    .title,
    .tags,
    .author,
    .date,
    .content {
      border: none;
      font-family: 'Pretendard Variable';
      &:focus {
        outline: none;
      }
    }

    .front-matter {
      display: flex;
      flex-direction: column;
      padding-top: 40px;
      padding-inline: 40px;
      .info-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 10px;
      }
      .title {
        font-size: 2.5em;
        font-weight: bold;
      }
      .tags-wrapper {
        position: relative;
        flex: 2.5;
      }
      .date {
        flex: 1.5;
        font-size: 1em;
        text-align: right;
      }
      .tags {
        font-size: 1em;
        width: 100%;
      }
      .author {
        margin-top: 10px;
        font-size: 1em;
        width: 100%;
        text-align: right;
      }
    }
    .content {
      &-wrapper {
        height: 100%;
        padding-top: 40px;
        padding-inline: 40px;
      }
      padding: 0px;
      width: 100%;
      height: 100%;
      resize: none;
      font-size: 1rem;
    }
  }
}

// navigation style
.navigation-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0 -5px 5px -1px rgb(217, 217, 217);
  .back,
  .download {
    font-size: 1rem;
    font-weight: 600;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-family: 'Pretendard Variable';
    background-color: rgb(170, 255, 178, 0.6);
    transition: background-color 0.5s ease;
    &:hover {
      background-color: rgb(170, 255, 178);
      cursor: pointer;
    }
  }
}

// toast style
.toast {
  position: fixed;
  top: 120px;
  background-color: #333;
  color: #fff;
  padding: 5px 5px;
  border-radius: 5px;
  white-space: pre-line;
  pointer-events: none;
}

.toast {
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-bottom {
  from {
    opacity: 0;
    transform: translateY(-20%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
