.post-wrapper {
  font-size: 17px;
}

// 콜아웃
aside {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 3px;
  padding-left: 20px;
  margin: auto;
}

// 인용구
blockquote {
  border-left: 5px solid;
  padding-left: 10px;
  margin-inline-start: 5px;
}

// 백틱
code {
  background-color: #f0f0f0;
  padding: 1px 4px;
  border-radius: 5px;
  color: tomato;
}

// 목록
ol,
ul {
  padding-inline-start: 20px;
}
li {
  padding-left: 10px;
}
